# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.11
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    # Generic
    -   id: check-added-large-files
    -   id: check-byte-order-marker
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    # Python
    -   id: check-ast
    -   id: debug-statements
    # Other languages
    -   id: check-json
    -   id: check-yaml
    -   id: check-toml
    -   id: check-xml

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.3.0
    hooks:
    -   id: black

-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        description: 'Run mypy on the package'
        entry: poetry
        language: system
        pass_filenames: false
        args: [run, mypy, batchop]
    -   id: unittests
        name: unittests
        description: 'Run unit tests'
        entry: poetry
        language: system
        pass_filenames: false
        args: [run, pytest]
    -   id: python_format
        name: python_format
        description: 'Run unit tests'
        entry: poetry
        language: system
        pass_filenames: false
        args: [run, black, .]
